<footer class="wrap site-footer clearfix">
  <ul class="social-links">
    <li><a href="https://www.facebook.com/thesubiedoctor/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    <li><a href="https://goo.gl/maps/2bnWYvGRK522" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a></li>
    <li><a href="https://www.yelp.com/biz/the-subie-doctor-denver" target="_blank"><i class="fa fa-yelp" aria-hidden="true"></i></a></li>
  </ul>
   <div><p class="editable">
	<a href="https://www.loopnet.com/Listing/6445-Downing-St-Denver-CO/13727791/">6445 Downing St, Denver, CO, 80229</a>. 720-463-0717 <a href="mailto:service@thesubiedoctor.com">service@thesubiedoctor.com</a>
</p></div>
  <p class="copyright">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} All Rights Reserved.</p>
  <p class="site-by">Site by: <a href="https://www.variantstudios.com" target="_blank">Variant Studios</a></p>
</footer>
