<footer class="wrap site-footer clearfix">
  <ul class="social-links">
    <li><a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
    <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
    <li><a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
  </ul>
  <p class="copyright">Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }} All Rights Reserved.</p>
  <p class="site-by">Site by: <a href="https://www.variantstudios.com" target="_blank">Variant Studios</a></p>
</footer>
