<header itemscope class="wrap clearfix">
  <!-- Logo Section -->
  <div class="site-name logo">
    <a href="/"><img src="/assets/images/subie-logo.svg" alt="{{site.title}}" /></a>
  </div>
  <!-- Navigation Section / Top and Main -->
  <div class="nav-section">

    <div class="menu-btn"><i class="fa fa-bars" aria-hidden="true"></i> Menu</div>
    <div class="menus">
      <div class="top-nav">
          <div class="hours">
            <div class="open-close"></div>
            <span class="hours-today"></span>
            <span class="hours-list-expand"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
            {% include hours.html  %}

        </div>
        <div class="phone editable">720-463-0717</div>
      </div>
        <nav class="main-nav">
          {% include nav.html nav=site.data.menu %}
        </nav>
    </div>
  </div>




</header>
