<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/prod/jquery-1-11-1.min.js"><\/script>')</script>

<!-- Moment Js for Hours Section -->

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<script src="/assets/js/prod/scripts.js"></script>

{% if page.permalink == "/contact/" %}
<script src="/assets/js/prod/form.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
{%elsif page.permalink == "/schedule-repair/" %}
<script src="/assets/js/prod/form.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
{%elsif page.permalink == "/disclaimer-and-waiver/" %}
<script src="/assets/js/prod/form.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>

{% elsif page.url contains '/parts-inventory/' %}
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" rel="stylesheet">
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var splide = new Splide('.splide', {
      pagination: false,
    });
    splide.mount();
  });
</script>
{%elsif page.url == "/" %}
<script src="/assets/js/prod/form.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endif %}

<!-- VS Custom Cloudinary JS -->
{% if site.cloudinaryurl %}
<script src="/assets/js/prod/cloudinary.js"></script>
{% endif %}

<script async src="https://www.googletagmanager.com/gtag/js?id=G-W91PLRVMXE"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  // Configuration for Google Analytics
  gtag('config', 'G-W91PLRVMXE');

  // Configuration for Google Ads
  gtag('config', 'AW-16551434025');
</script>