.menu {
  padding: 0;
  margin: 0;
  font-size: 1.15rem;
  @include breakpoint($bp-large, $no-query: '.no-mq') {
    text-align: right;
  }
  li {
    list-style: none;
    margin: 0;
    display: block;
    padding: .5em 0em;
    position: relative;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
      display: inline-block;
       padding: .75rem .85rem;
    }
    a {
      font-weight: 700;
      transition: color .75s ease;
      padding: 0;
      display: block;
      color: $color-two;
      &:hover {
        color: darken($color-two, 15%);
      }
      &:active {
        position: relative;
      }

  }
  a, a:visited {
    text-decoration: none;
  }
}
}