.menu {
  padding: 0;
  margin: 0;
  font-size: 1.15rem;
  visibility: hidden;
  opacity: 0;
  height: 0;
  clear: both;
 // transition: all .5s linear;
  &.show {
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: all .5s linear;
    li {
      opacity: 1;
      margin-top: 0;
      transition: all .75s linear;
      margin-bottom: 0;
      
    }
  }
  li {

  }
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    text-align: center;
    visibility: visible;
    opacity: 1;
    height: auto;
  }
  @include breakpoint($bp-large, $no-query: '.no-mq') {
     text-align: right;
  }
    li {
      list-style: none;
      margin: 0;
      display: block;
      padding: .5em 0em;
      position: relative;
      margin-top: -15px;
      margin-bottom: 10px;
      opacity: 0;
      transition: all .75s linear;
      @include breakpoint($bp-medium, $no-query: '.no-mq') {
        display: inline-block;
        padding: .75rem .85rem;
        transition: none;
        opacity: 1;
      }
      a {
        font-weight: 700;
        transition: color .75s ease;
        padding: 0;
        display: block;
        color: $color-two;
        &:hover {
          color: darken($color-two, 15%);
        }
        &:active {
          position: relative;
        }

    }
    a, a:visited {
      text-decoration: none;
    }
  }

}

.menu-btn {
  float: right;
  cursor: pointer;
  font-weight: 700;
  @include breakpoint($bp-medium, $no-query: '.no-mq') {
    display: none;
  }
}