/* validation Colors */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}

html {
  font: normal 100%/1.65 "paralucent", sans-serif;
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  color: #3D3D3D;
}

p {
  margin: auto auto 1.5em;
}
p + p {
  margin-top: -0.5em;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

@media (min-width: 0) and (max-width: 37.5em) {
  h1 {
    font-size: 1.7em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.3em;
  }

  h4 {
    font-size: 1.3em;
  }

  h5 {
    font-size: 1.2em;
  }

  h6 {
    font-size: 1em;
  }
}
h1, h2, h3, h4, h5, h6 {
  margin: 16px 0;
  line-height: 1.3;
  color: #272727;
}

.page-title {
  margin-bottom: 0;
  color: #373737;
  font-size: 2rem;
  text-align: center;
}
@media (min-width: 50em) {
  .page-title {
    font-size: 3rem;
  }
}

.sub-title {
  margin-top: 5px;
  font-weight: 300;
  color: #C42227;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}
@media (min-width: 0) and (max-width: 37.5em) {
  .sub-title {
    font-size: 1.8rem;
  }
}

a {
  color: #C42227;
}
a:hover {
  color: #dd3c41;
}
a:visited {
  color: #991a1e;
}

a.read-more-link {
  text-decoration: none;
  display: block;
}
a.read-more-link:after {
  content: "\f105";
  font-family: FontAwesome;
  display: inline-block;
  padding-left: 1.5rem;
  font-size: .8rem;
}

a.read-more-link.external:after {
  content: "\f08e";
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

input[type="text"], input[type="email"], input[type="name"], input[type="password"], input[type="file"], input[type="date"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  font-family: "paralucent", sans-serif;
  font-size: .9rem;
  border: 1px solid #D3D3D3;
  display: inline-block;
  margin-bottom: 1rem;
  width: 100%;
}
input[type="text"]:active, input[type="text"]:focus, input[type="email"]:active, input[type="email"]:focus, input[type="name"]:active, input[type="name"]:focus, input[type="password"]:active, input[type="password"]:focus, input[type="file"]:active, input[type="file"]:focus, input[type="date"]:active, input[type="date"]:focus {
  background: #fafafa;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

@media (min-width: 50em) {
  input[type="date"] {
    width: auto;
  }
}
.no-mq input[type="date"] {
  width: auto;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.g-recaptcha {
  margin-top: 1rem;
}

textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em 1.25em;
  font-size: 100%;
  border: 1px solid #D3D3D3;
  border-radius: 0;
  font-family: "paralucent", sans-serif;
}
textarea:active, textarea:focus {
  background: #fafafa;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

input[type="submit"] {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #C42227;
  border: 1px solid #991a1e;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  padding: .5em 1.25em;
  font-size: 95%;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  cursor: pointer;
  width: 100%;
  padding: 1em;
  font-weight: 700;
  -webkit-appearance: none;
}
input[type="submit"]:hover {
  background-color: #bb2025;
}
input[type="submit"]:hover {
  background: #991a1e;
  border-color: #83171a;
}

.btn {
  margin-bottom: 1em;
}
.btn a {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #C42227;
  border: 1px solid #991a1e;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  padding: .5em 1.25em;
  font-size: 95%;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
.btn a:hover {
  background-color: #bb2025;
}
.btn a:hover {
  background: #991a1e;
  border-color: #83171a;
}
.btn a i {
  vertical-align: middle;
  padding-left: .5em;
}
.btn.alt a {
  background-color: #0360AB;
  border: 1px solid #024479;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  padding: .5em 1.25em;
  font-size: 95%;
}
.btn.alt a:hover {
  background-color: #035aa1;
}
.btn.alt a:hover {
  background: #024479;
  border-color: #023660;
}

form label {
  font-weight: normal;
  font-size: .9rem;
  padding-bottom: .5em;
  margin-right: 1rem;
  display: inline-block;
  min-width: 55px;
  color: #75757d;
}
form .description {
  font-size: 85%;
  margin: 1em 0;
}

fieldset {
  border-radius: 3px;
  padding: 1em 1.5em;
}
fieldset .fieldset-legend a {
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
table tr {
  padding: 0;
}
table tr.odd {
  background-color: #F7F7F7;
  border-bottom: 0;
}
table tr.even {
  background-color: #fff;
  border-bottom: 0;
}
table td {
  padding: 0.5em 2em;
  margin: 0;
}

table.sticky-enabled thead th, table.sticky-header thead th {
  border-bottom: 3px solid #C42227;
  padding: 1em 0 1em 2em;
}

ul.pager {
  margin: 1em 0 0;
  padding: 1em 0 0;
  border-top: 1px solid #035292;
}
ul.pager li {
  display: inline-block;
  list-style: none;
  padding-right: .5em;
  color: #C42227;
}
ul.pager li a:visited {
  color: #C42227;
}

.styleguide-wrapper {
  max-width: 80%;
  margin: 0 auto;
  padding: 6em 0;
}

.sg-block {
  padding-bottom: 3em;
}
.sg-block .highlighter-rouge {
  background: #f9f9f9;
  padding: 1em 2em;
  border-radius: 3px;
  border: 1px solid #ccc;
  clear: both;
}
.sg-block .sg-label {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ccc;
}
.sg-block .swatch {
  display: inline-block;
  width: 200px;
  padding: 5em 0 0;
  margin-right: 1em;
}
.sg-block .swatch span {
  display: block;
  background: #fff;
  padding: 1em 0;
  font-weight: 700;
}
.sg-block .swatch.color-one {
  background: #C42227;
}
.sg-block .swatch.color-one span {
  color: #C42227;
}
.sg-block .swatch.color-two {
  background: #0360AB;
}
.sg-block .swatch.color-two span {
  color: #0360AB;
}
.sg-block .swatch.color-three {
  background: #858585;
}
.sg-block .swatch.color-three span {
  color: #858585;
}
.sg-block .main-nav, .sg-block .contact-form {
  margin-bottom: 2em;
}

@media (min-width: 50em) {
  .cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.no-mq .cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cols .col {
  margin: 2em 0;
}

@media (min-width: 50em) {
  .cols-2 .col {
    width: 45%;
  }
}
.no-mq .cols-2 .col {
  width: 45%;
}

@media (min-width: 50em) {
  .cols-3 .col {
    width: 30%;
  }
}
.no-mq .cols-3 .col {
  width: 30%;
}

@media (min-width: 50em) {
  .cols-4 .col {
    width: 22%;
  }
}
.no-mq .cols-4 .col {
  width: 22%;
}

.center .col {
  text-align: center;
}

.logo {
  margin-top: 1rem;
}
@media (min-width: 75em) {
  .logo {
    margin-top: 0;
  }
}
.no-mq .logo {
  margin-top: 0;
}
.logo img {
  display: block;
  margin: 0 auto 1rem auto;
}
@media (min-width: 75em) {
  .logo img {
    margin: 0;
    width: 100%;
  }
}
.no-mq .logo img {
  margin: 0;
  width: 100%;
}

.menus {
  padding: 0;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  height: 0;
  clear: both;
}
@media (min-width: 50em) {
  .menus {
    font-size: 1.15rem;
  }
}
.no-mq .menus {
  font-size: 1.15rem;
}
.menus.show {
  visibility: visible;
  opacity: 1;
  height: auto;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}
.menus.show .menu li {
  opacity: 1;
  margin-top: 0;
  -webkit-transition: all .75s linear;
  transition: all .75s linear;
  margin-bottom: 0;
}
.menus .menu {
  padding: 0;
  margin: 0;
}
@media (min-width: 50em) {
  .menus {
    text-align: center;
    visibility: visible;
    opacity: 1;
    height: auto;
  }
}
.no-mq .menus {
  text-align: center;
  visibility: visible;
  opacity: 1;
  height: auto;
}
@media (min-width: 75em) {
  .menus {
    text-align: right;
  }
}
.no-mq .menus {
  text-align: right;
}
.menus .menu li {
  list-style: none;
  margin: 0;
  display: block;
  padding: .5em 0em;
  position: relative;
  margin-top: -15px;
  margin-bottom: 10px;
  opacity: 0;
  -webkit-transition: all .75s linear;
  transition: all .75s linear;
}
@media (min-width: 50em) {
  .menus .menu li {
    display: inline-block;
    padding: 0rem .85rem .7rem;
    -webkit-transition: none;
    transition: none;
    opacity: 1;
    margin: 0;
  }
}
.no-mq .menus .menu li {
  display: inline-block;
  padding: 0rem .85rem .7rem;
  -webkit-transition: none;
  transition: none;
  opacity: 1;
  margin: 0;
}
.menus .menu li a {
  font-weight: 700;
  -webkit-transition: color .75s ease;
  transition: color .75s ease;
  padding: 0;
  display: block;
  color: #0360AB;
}
.menus .menu li a:hover {
  color: #023660;
}
.menus .menu li a:active {
  position: relative;
}
.menus .menu li a, .menus .menu li a:visited {
  text-decoration: none;
}

.menu-btn {
  cursor: pointer;
  font-weight: 700;
  margin: 0 0 1em;
}
@media (min-width: 50em) {
  .menu-btn {
    display: none;
  }
}
.no-mq .menu-btn {
  display: none;
}

header .nav-section .top-nav {
  margin-bottom: 1rem;
  font-size: 1rem;
}
@media (min-width: 50em) {
  header .nav-section .top-nav {
    float: none;
    text-align: center;
  }
}
.no-mq header .nav-section .top-nav {
  float: none;
  text-align: center;
}
@media (min-width: 75em) {
  header .nav-section .top-nav {
    text-align: right;
  }
}
.no-mq header .nav-section .top-nav {
  text-align: right;
}
@media (min-width: 50em) {
  header .nav-section .top-nav div {
    display: inline-block;
  }
}
.no-mq header .nav-section .top-nav div {
  display: inline-block;
}
@media (min-width: 0) and (max-width: 50em) {
  header .nav-section .phone {
    padding: .35rem;
    margin: .35rem 0;
  }
}
.no-mq header .nav-section .phone {
  padding: .35rem;
  margin: .35rem 0;
}

.notice--wrapper {
  width: 100%;
  background: #eee;
}
.notice--wrapper .notice--inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: .75rem;
}
.notice--wrapper .notice--inner-wrapper svg {
  margin: 0 .5rem .75rem 0;
  height: 25px;
  width: 25px;
}
.notice--wrapper .notice--inner-wrapper svg path {
  fill: #c12529;
}
.notice--wrapper .notice--inner-wrapper p {
  margin: 0 0 .75rem 0;
}

.slick-next {
  right: 20px;
  z-index: 1;
}

.slick-prev {
  left: 20px;
  z-index: 1;
}

.about-photos {
  margin: 3rem 0 5rem !important;
}

.racing-images img {
  height: 130px;
  display: inline-block;
  padding: 0 1em;
  margin: 2em 0;
}

.racing-block {
  text-align: center;
}

.slick-slide img {
  display: block;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

@media (min-width: 50em) {
  .contact-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.no-mq .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 50em) {
  .contact-form form {
    width: 50%;
    padding: 2em;
  }
}
.no-mq .contact-form form {
  width: 50%;
  padding: 2em;
}
@media (min-width: 50em) {
  .contact-form .map-embed {
    width: 50%;
  }
}
.no-mq .contact-form .map-embed {
  width: 50%;
}
.contact-form .map-embed iframe {
  width: 100%;
}

@media (min-width: 50em) {
  .schedule-form-page .body {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
}
.no-mq .schedule-form-page .body {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.schedule-repair-form {
  max-width: 800px;
  margin: 0 auto;
}

.button--reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button--reviews .button--review {
  margin: 0 2rem;
}

.romw {
  padding: 2em;
  margin: 0;
}
.romw:nth-child(odd) {
  background: #efefef;
}

.car-full-node {
  margin: 6em auto 0;
}
.car-full-node:after {
  content: "";
  display: table;
  clear: both;
}
.car-full-node .car-details {
  margin: 0 0 2em;
}
@media (min-width: 50em) {
  .car-full-node .car-details {
    width: 47.5%;
    margin: 0 2rem 2.5em 0;
    float: left;
  }
}
.no-mq .car-full-node .car-details {
  width: 47.5%;
  margin: 0 2rem 2.5em 0;
  float: left;
}
.car-full-node .car-details .detail.price {
  font-weight: 700;
  font-weight: 700;
  background: #3bb56b;
  color: #fff;
  font-size: 1.25rem;
  padding: 0.25rem 1rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}
.car-full-node .detail-wrapper {
  padding: 1rem 0 2rem;
  margin-bottom: 2em;
  border-bottom: 1px solid #ccc;
}
.car-full-node .car-photos {
  overflow: hidden;
}
.car-full-node .car-item--details {
  padding: 1rem;
}
.car-full-node .car-item--details a {
  text-decoration: none;
}
.car-full-node .car-item--details h3 {
  margin: 0;
}
.car-full-node .car-status {
  font-weight: 700;
  font-size: 1.2em;
}

.footer-wrapper {
  background: #fff;
  padding: 1rem;
  text-align: center;
}
.footer-wrapper .social-links {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.footer-wrapper li {
  display: inline-block;
  padding: 0 .5rem;
}
.footer-wrapper a {
  text-decoration: none;
  color: #000;
}
.footer-wrapper p {
  display: inline-block;
  margin: 0;
  padding: 0 .5rem;
}
.footer-wrapper p.site-by {
  font-weight: 300;
}

header {
  text-align: center;
}
header:after {
  content: "";
  display: table;
  clear: both;
}

header .logo {
  text-align: center;
}
@media (min-width: 75em) {
  header .logo {
    width: 25%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
}
.no-mq header .logo {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}

@media (min-width: 75em) {
  header .nav-section {
    width: 74.46809%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    text-align: right;
  }
}
.no-mq header .nav-section {
  width: 74.46809%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  text-align: right;
}

.header-image img {
  width: 100%;
}

.header-wrapper {
  padding: 1em 0;
  background: #fff;
}

.hours {
  margin-right: 1rem;
}
.hours div {
  display: inline-block;
}

.open-close {
  border-radius: 3px;
  margin-right: .75rem;
}
.open-close.closed {
  background: #E84141;
}
.open-close.open {
  background: #2D9E59;
}
.open-close span {
  display: inline-block;
  padding: .25rem .85rem;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
}

.hours-list-expand {
  display: inline-block;
  margin-left: .75rem;
  cursor: pointer;
  margin-right: 1rem;
}

.hours-list {
  position: absolute;
  background: #fff;
  padding: 1em;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin: 0;
  z-index: 1;
  list-style: none;
  text-align: left;
  margin: 1em 0;
}
.hours-list.collapse {
  visibility: hidden;
  opacity: 0;
}

.wrap {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 1em;
}
.wrap:after {
  content: "";
  display: table;
  clear: both;
}

main {
  padding: 2em 0;
  background: url("../images/bg.png") no-repeat left bottom;
}
main:after {
  content: "";
  display: table;
  clear: both;
}
main .about-page {
  max-width: 1000px;
}

@media (min-width: 50em) {
  .schedule-form-page .body {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
}
.no-mq .schedule-form-page .body {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}
html body {
  margin: 0;
  height: 100%;
  background: #fff;
  overflow-x: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.wrap {
  max-width: 1500px;
  margin: 0 auto;
}
.wrap:after {
  content: "";
  display: table;
  clear: both;
}

.site-wrapper {
  margin: 0 auto;
  max-width: 1500px;
}

main, header, footer, section, aside {
  display: block;
}

.preface {
  background: no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
@media (min-width: 50em) {
  .preface {
    height: 660px;
  }
}
.no-mq .preface {
  height: 660px;
}

.schedule-form h2 {
  font-family: "eurostile-extended", sans-serif;
  font-style: italic;
  color: #0360AB;
  font-size: 1.5rem;
}
@media (min-width: 0) and (max-width: 50em) {
  .schedule-form h2 {
    font-size: 1.1rem;
    margin-top: 0;
  }
}
.schedule-form p {
  font-style: italic;
}
@media (min-width: 50em) {
  .schedule-form {
    width: 50%;
  }
}
.no-mq .schedule-form {
  width: 50%;
}
@media (min-width: 75em) {
  .schedule-form {
    width: 40%;
  }
}
.no-mq .schedule-form {
  width: 40%;
}
@media (min-width: 50em) {
  .schedule-form .btn {
    margin: 0;
  }
}
.no-mq .schedule-form .btn {
  margin: 0;
}
.schedule-form .schedule-form .btn {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #C42227;
  border: 1px solid #991a1e;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  padding: .5em 1.25em;
  font-size: 95%;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
.schedule-form .schedule-form .btn:hover {
  background-color: #bb2025;
}
.schedule-form .schedule-form .btn:hover {
  background: #991a1e;
  border-color: #83171a;
}
.schedule-form .schedule-form .btn i {
  vertical-align: middle;
  padding-left: .5em;
}

.flipped .phase-one {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.flipped .phase-two {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.phase {
  width: 100%;
}

.schedule-form {
  position: relative;
  margin-top: 10rem;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, white 0%, white 34%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(34%, #ffffff), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 34%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 34%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* IE6-9 */
  height: 640px;
}
@media (min-width: 50em) {
  .schedule-form {
    float: left;
    margin-top: 1rem;
  }
}
.no-mq .schedule-form {
  float: left;
  margin-top: 1rem;
}
.schedule-form .back-up {
  margin: 0 0 1em 0;
  cursor: pointer;
}
.schedule-form .back-up i {
  margin-right: .5em;
}
.schedule-form .g-recaptcha {
  margin-top: 1rem;
}

.phase {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.phase {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.phase-two {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.schedule-form.effect__click.flipped .phase-one {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.schedule-form.effect__click.flipped .phase-two {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.front .page-title {
  margin: 4rem auto 0;
}

.front .cols {
  margin: 0em 0 5em;
}
@media (min-width: 75em) {
  .front .cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 8em 0 5em;
  }
}
.no-mq .front .cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 8em 0 5em;
}
.front .cols .col-2 {
  margin: 2em 0;
}
@media (min-width: 75em) {
  .front .cols .col-2 {
    margin: 0 3%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.no-mq .front .cols .col-2 {
  margin: 0 3%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.front .cols .intro {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.front .cols .review-block {
  padding: 1em 2em 2em;
  background: #fff;
  -webkit-box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin-top: 200px;
}
@media (min-width: 75em) {
  .front .cols .review-block {
    margin-top: 0;
  }
}
.no-mq .front .cols .review-block {
  margin-top: 0;
}
.front .cols .review-block img.profile-pic {
  width: 150px;
  display: block;
  margin: -100px auto 30px;
  border-radius: 5px;
}
.front .cols .review-block .five-star {
  margin: 0 auto 2em;
  text-align: center;
  display: block;
}
.front .cols .review-block h6 {
  text-transform: uppercase;
  font-family: "eurostile-extended", sans-serif;
  color: #0360AB;
}
.front .cols .review-block .review-text {
  font-style: italic;
  font-weight: 300;
}

.team-list .person {
  padding-bottom: 2em;
}
@media (min-width: 50em) {
  .team-list .person img {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .team-list .person .info {
    width: 74.46809%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
.no-mq .team-list .person img {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
.no-mq .team-list .person .info {
  width: 74.46809%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

.blog-wrapper .blog-item {
  padding-bottom: 2em;
}
.blog-wrapper .right-blog h3 {
  margin-top: 0;
}
.blog-wrapper .right-blog .person {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-bottom: -5px;
  border: 2px solid #C42227;
}
.blog-wrapper .right-blog ul {
  list-style: none;
  padding: 0;
}
.blog-wrapper .right-blog ul li {
  display: inline-block;
}
.blog-wrapper .right-blog ul li.tag-label {
  background: #C42227;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: .8rem;
}
.blog-wrapper .right-blog ul li.tag-label a, .blog-wrapper .right-blog ul li.tag-label a:visited {
  color: #F1F1F1;
  text-decoration: none;
}
@media (min-width: 50em) {
  .blog-wrapper .left-image {
    width: 23.40426%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  .blog-wrapper .right-blog {
    width: 74.46809%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
.no-mq .blog-wrapper .left-image {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: none;
}
.no-mq .blog-wrapper .right-blog {
  width: 74.46809%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

.cars-preface {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.cars-wrapper {
  margin: 6em auto 0;
}
.cars-wrapper .car-item {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin: 0 0 2em;
  background: #fff;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
@media (min-width: 50em) {
  .cars-wrapper .car-item {
    width: 47.5%;
    margin: 0 1% 2.5em;
    display: inline-block;
    vertical-align: top;
  }
}
.no-mq .cars-wrapper .car-item {
  width: 47.5%;
  margin: 0 1% 2.5em;
  display: inline-block;
  vertical-align: top;
}
.cars-wrapper .car-item:hover {
  -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}
.cars-wrapper .car-item--image {
  position: relative;
  line-height: 0;
}
.cars-wrapper .car-date {
  margin: 0;
}
.cars-wrapper .price {
  font-weight: 700;
  background: #3bb56b;
  color: #fff;
  font-size: 1.2rem;
  padding: .25rem 1rem;
  display: inline-block;
  margin: .5rem 0;
  border-radius: 4px;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  line-height: 1.6;
}
.cars-wrapper .car-item--details {
  padding: 1rem 1.5rem 1rem;
}
.cars-wrapper .car-item--details a {
  text-decoration: none;
}
.cars-wrapper .car-item--details h3 {
  margin: 0;
}
.cars-wrapper .sold-overlay {
  position: absolute;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  bottom: 0;
}
.cars-wrapper .coming-soon-overlay {
  position: absolute;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5;
  bottom: 0;
}
