form {
  label {
    //color: $heading-color;
    font-weight: normal;
    font-size: .9rem;
    padding-bottom: .5em;
    margin-right: 1rem;
    display: inline-block;
    min-width: 55px;
    color: #75757d;
  }
  .description {
    font-size: 85%;
    margin: 1em 0;
  }
}

