.slick-next {
    right: 20px;
    z-index: 1;
}

.slick-prev {
    left: 20px;
    z-index: 1;
}

.about-photos {
    margin:3rem 0 5rem !important;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}

.racing-images img {
    height: 130px;
    display: inline-block;
    padding: 0 1em;
    margin: 2em 0;
}

.racing-block {
    text-align: center;
}