header {
  text-align: center;
  @include clearfix;
}
header .logo {
  text-align: center;
  @include breakpoint($bp-large, $no-query: ".no-mq") {
    @include grid-span(3,1,$gutter:0);
  }
}
header .nav-section {
  @include breakpoint($bp-large, $no-query: ".no-mq") {
    @include grid-span(9,4);
    text-align: right;
  }
}

.header-image  {
  img {
    width: 100%;
  }
}

.header-wrapper  {
  padding: 1em 0;
  background: $header-bg;
}

// Hours Section
.hours {
  margin-right: 1rem;
  div {
    display: inline-block;
  }
}
.open-close {
  border-radius: 3px;
  margin-right: .75rem;  
  &.closed {
    background: $error;
  }
  &.open {
    background: $valid;
  }
  span {
    display: inline-block;
    padding: .25rem .85rem;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
  }
}

// Hours Dropdown Arrow
.hours-list-expand {
   display: inline-block;
   margin-left: .75rem;
   cursor: pointer;
   margin-right: 1rem;
}

// Hours Dropdown
.hours-list {
  position: absolute;
  background: #fff;
  padding:1em;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  margin: 0;
  z-index: 1;
  list-style: none;
  text-align: left;
  margin: 1em 0;
  &.collapse {
    visibility: hidden;
    opacity: 0;
  }
}
