---
layout: default
---

<div class="header-image">
    <img src="{{ page.header_image_path }}" />
</div>
<main>
  <section class="wrap about-page">
    <h1 class="page-title">{{ page.title }}</h1>
    <h2 class="sub-title">{{ page.subtitle }}</h2>
    <div class="about-photos slider">
            {% for item in page.photos %}
            <div class="photo">
                <img src="{{item.image_path}}" alt="{{item.title}}" title="{{item.title}}" />
            </div>
              {% endfor %}
        </div>

    <div>{{ content }}</div>

    <div class="editable racing-block">
    	<h2>Interested in Racing?</h2>
    	<p>Many of our employees are big into racing.&nbsp; Todd and his wife race their Subaru's in SCCA Rallycross as well as ARA Stage Rally and have the trophies to show for it including 2nd and 3nd place at the Rallycross National Championship.&nbsp; If you have any questions about getting involved, just give us a call.</p>
    	<div class="racing-images"><a target="_blank" href="http://www.coloradorallycross.org/"><img alt="" src="/assets/images/colorx.png" /> </a> <a target="_blank" href="https://www.rmsolo.org/"> <img alt="" src="/assets/images/logo.gif" /> </a></div>
    </div>
  </section>
</main>
