---
layout: default
---
<div class="header-image">
    <img src="{{ page.header_image_path }}"/>
</div>
<main>
  <section class="wrap about-page">
    <h1 class="page-title">{{ page.title }}</h1>
    <h2 class="sub-title">{{ page.subtitle }}</h2>
    <div class="about-photos slider">
            {% for item in page.photos %}
            <div class="photo">
                <img src="{{item.image_path}}" alt="{{item.title}}" title="{{item.title}}">
            </div>
              {% endfor %}
        </div>

    <div>{{ content }}</div>

    <div class="editable racing-block">
        <h2>Interested in Racing?</h2>
        <div class="racing-images">
          <a href="http://www.coloradorallycross.org/" target="_blank">              
            <img src="/assets/images/colorx.png" alt="">
          </a>
          <a href="https://www.rmsolo.org/" target="_blank">
            <img src="/assets/images/logo.gif" alt="">
          </a>
        </div>
    </div>
  </section>
</main>
