---
layout: default
---
<main>
  <section class="wrap car-full-node">

    <div class="car-details">
      <h1 class="pagetitle">{{ page.title }}</h1>    
      
      {% if page.inventory_option == 'sold' %}
         <p class="car-status">Sold</p>
      {% endif %}

      {% if page.inventory_option == 'coming' %}
        <p class="car-status">Coming Soon</p>
      {% endif %}


      <div class="detail-wrapper">
        {% if page.price %}
        <div class="price detail">{{page.price}}</div>  
        {% endif %}      
        <div class="detail">Year: {{page.year}}</div>
        <div class="detail">Make: {{page.make}}</div>
        <div class="detail">Model: {{page.model}}</div>
      </div>
      <div>{{ content }}</div>
    </div>
    <div class="car-photos">
        {% for item in page.photos %}
        <div class="photo">
             <img src="{{item.image_path}}" alt="{{item.title}}" title="{{item.title}}">
        </div>
          {% endfor %}
    </div>
  </section>
</main>
