---
layout: default
---
<div class="preface" style="background-image: url({{ page.header_image_path }});">
    <div style="position: relative;width: 100%;height: 100%;max-width: 1200px;margin: 0 auto;">
        <div style="bottom: 24px;position: absolute;color: #fff;">
            <h3><a href="/schedule-repair/" style="color: #fff; text-decoration: underline;">Request Appointment</a>
            </h3>
        </div>
    </div>
    <!--<div class="wrap">-->

    <!-- Form Schedule -->
    <!--<div class="schedule-form effect__click">-->
    <!--    <div class='msm_appointment_button'-->
    <!--    onclick="javascript:window.open( 'https://myshopmanager.com/request_appointment?v=JTdCZDkzYjAwNTctMGExNy00MTlhLTgzODktN2Y3NDRiMzkyMjFkJTdE', 'review', 'width=790px, top=0, left=0, toolbar=no, menubar=no, scrollbars=1, resizable=1, location=no, status=0');"-->
    <!--    >-->
    <!--        <div>-->
    <!--            <img alt='logo' class="msm_shoplogo msm_valign msm_image" src=''>-->
    <!--        </div>-->
    <!--        <div class="msm_valign msm_text">-->
    <!--            Request Appointment-->
    <!--        </div>-->
    <!--        <div>-->
    <!--            <img alt='icon' class='msm_right_icon msm_valign msm_image' src='https://s3.amazonaws.com/myshopmanager-public/car.png'>-->
    <!--        </div>-->
    <!--    </div>-->
    <!-- Calendly inline widget begin -->
    <!--<div class="calendly-inline-widget" data-url="https://calendly.com/thesubiedoctor" style="min-width:320px;height:620px;"></div>-->
    <!--<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>-->
    <!-- Calendly inline widget end -->
    <!--    </div>-->
    <!--</div>-->
</div>

<main>
    <section class="wrap clearfix front">
        <h1 class="page-title">{{ page.title }}</h1>
        <div class="cols">
            <div class="intro col-2" data-cms-content-wrapper="/_layouts/front.html">
                {{content}}
            </div>
            <div class="review-block col-2">
                <h3>Reviews</h3>
                <div data-romw-token="pDIE7NlFigEPOYlyTCjQ3XLB48lXQSw0ZfH8DRAXwvj1IOjCGj"></div>
                <script src="https://reviewsonmywebsite.com/js/v2/embed.js?id=7bf8acda5d5930b1a9db343a4ec1b31c"
                    type="text/javascript"></script>
                <a href="/reviews" class="read-more-link">View all Reviews</a>
            </div>
        </div>
    </section>
</main>