---
layout: default
---
<div class="preface" style="background-image: url({{ page.header_image_path }});" >
  <div class="wrap">
  <div class="schedule-form">
    <h2>Schedule Repair</h2>
    <p>Feel free to call, text or email for a repair or reconditioning quote or just some words of advice.  Whether you just need a pre-buy inspection, a transmission replaced, some performance upgrades or want to swap in that STi engine you've been dreaming about, the Doctor can take care of you.</p>
    <form action="GET">
      <input placeholder="Name"  id="name"  name="name" type="text">
      <input placeholder="Email" id="email" type="email">
      <label>Preferred Date</label>
      <input type="date">
      <div class="btn"><a href="schedule-repair?=name=">Continue</a></div>
    </form>
  </div>
</div>
</div>


<main>
  <section class="wrap clearfix front">
    <h1 class="page-title">{{ page.title }}</h1>
    <div class="cols">
    <div class="intro col-2">
      {{content}}
    </div>
    <div class="review-block col-2">
       <img src="http://lorempixel.com/400/400/people/" />
       <img src="" class="five-star">
       <div class="review-text">
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet dolor est. Suspendisse pulvinar nisl sit amet faucibus ultrices. Pellentesque accumsan tincidunt placerat.</p>
       </div>
       <h6>Michael McQueen</h6>
    </div>
  </div>
  </section>
</main>
