--- 
layout: default 
---

<main>
    <section class="wrap schedule-form-page">
        <h1 class="page-title">{{ page.title }}</h1>
        <h2 class="sub-title">{{ page.subtitle }}</h2>
        <div class="body">{{ content }}</div>
        <iframe src='https://myshopmanager.com/request_appointment?v=JTdCZDkzYjAwNTctMGExNy00MTlhLTgzODktN2Y3NDRiMzkyMjFkJTdE' id='msm_appointment_iframe'  width="100%" height="1700" frameBorder="0" style="overflow-x: hidden;" scrolling="no">
        <!-- Calendly inline widget begin -->
        <!--<div class="calendly-inline-widget" data-url="https://calendly.com/thesubiedoctor" style="min-width:320px;height:900px;"></div>-->
        <!--<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>-->
        <!-- Calendly inline widget end -->

    </section>
</main>